alabaster
argparse
asn1crypto
attrs
babel
backports-abc
bleach
bs4
certifi
chardet
cloudpickle
configparser
cryptography
dbus-python
decorator
docutils
entrypoints
eyed3
futures
gyp
html5lib
idna
imagesize
ipaddress
ipykernel
ipython
ipython-genutils
jedi
jinja2
jsonschema
jupyter-client
jupyter-core
keyring
keyrings.alt
markupsafe
mercurial
mistune
nbconvert
nbformat
numpydoc
olefile
pandocfilters
parso
pickleshare
pillow
pip-chill
progressbar
prompt-toolkit
psutil
pycodestyle
pycrypto
pyflakes
pygments
pygobject
pyliblzma
pyopenssl
pyparsing
pyqt5
python
python-dateutil
pytz
pyxdg
pyzmq
qtawesome
qtconsole
qtpy
requests
roman
rope
simplegeneric
singledispatch
sip
soappy
sphinx
spyder
spyder-kernels
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
wsgiref
